.DS_Store

roles/pcc/defaults/main.yml
roles/haproxy-web/templates/haproxy.cfg.j2
roles/haproxy-web/templates/railgun.conf.j2
roles/deploy-mcph-issues/files/mcph-issues
roles/deploy-mcph-issues/defaults/main.yml
roles/deploy-spacegdn/files/SpaceGDN
roles/deploy-spacegdn/templates/config.py.j2
roles/deploy-web/files/
roles/pxc/defaults/main.yml
roles/nginx/vhosts.txt
roles/galera/defaults/main.yml
roles/test/tasks/slack_msg.yml
roles/buildsys/files/*.tgz
roles/deploy-app/defaults/main.yml
roles/stream-ingest/defaults/main.yml
roles/jira/defaults/main.yml
roles/jira/files/wildcard.pem
roles/monitoring/defaults/main.yml
roles/monitoring-prod/defaults/main.yml
roles/monitoring-lab/defaults/main.yml
