# {{ ansible_managed }}
Listen 443
<VirtualHost *:443>
ServerName {{ server_name }}
SSLEngine on
SSLCertificateFile /etc/ssl/certs/wildcard.pem
AllowEncodedSlashes NoDecode
ErrorLog logs/mcpro-jira-error_log
CustomLog logs/mcpro-jira_log combined


<Proxy *>
        Order deny,allow
        Allow from all
</Proxy>

ProxyRequests           Off
ProxyPreserveHost       On
ProxyPass               /       ajp://localhost:8009/ nocanon
ProxyPassReverse        /       ajp://localhost:8009/ nocanon

</VirtualHost>
