# {{ ansible_managed }}
#install4j response file for JIRA 6.3
backupJira$Boolean=true
executeLauncherAction$Boolean=true
app.install.service$Boolean=true
existingInstallationDir=/opt/atlassian/jira
sys.confirmedUpdateInstallationString=false
sys.languageId=en
sys.installationDir=/opt/atlassian/jira
